.button{
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    color: #ffffff;
    background-color: $colorBlue;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
